<navbar></navbar>

<div class="container pt-100 mb-50">
  <div class="row">
    <div class="col-3">
        <cart-summary></cart-summary>
        <category-list [categories]="categories" (category)="getCategory($event)"></category-list>
     </div>
    <div class="col-9">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <div class="form-inline float-right m-0 p-0">
                        <select class="form-control-sm" name="" 
                        [value]="productPerPage" (change)="changePageSize($any($event.target).value)">
                            <option value="2">2 tane</option>
                            <option value="3">3 tane</option>
                            <option value="4">4 tane</option>
                            <option value="6">6 tane</option>
                            <option value="8">8 tane</option>
                        </select>
                    </div>
                    {{ selectedProducts.length}} tane ürün bulundu.
                </div>
            </div>
           
        </div>
        <product-list [products]="products"></product-list>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button *ngFor="let page of pageNumbers" class="btn btn-outline-primary" (click)="changePage(page)" [class.active]="page==selectedPage">
                {{page}}
            </button>

        </div>
    </div>
  </div>
</div>

<!-- <tui-root> -->
    <!-- content of your app -->
  
    <!--
       If you need, you can add something between Taiga portal layers:
      -->
    <ng-container ngProjectAs="tuiOverContent">
      <!-- Content over app content -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverDialogs">
      <!-- Content over dialogs -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverAlerts">
      <!-- Content over alerts -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverPortals">
      <!-- Content over dropdowns -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverHints">
      <!-- Content over hints -->
    </ng-container>
  <!-- </tui-root> -->